body {
  background: linear-gradient(0.25turn, #b1ff99, #94bcff);
  padding: 0;
  margin: 0;
}

:root {
  --text-primary: #fff;
  --background-primary: #1b1b1b;
}

h1 {
  color: black;
  text-align: center;
  text-decoration: overline;
}

.container {
  display: grid;
  grid-template-columns: repeat(10, minmax(230px, 1fr));
  grid-auto-rows: minmax(50px, auto);
  gap: 20px;
  font-family: sans-serif;
}

main {
  grid-area: auto;
  display: grid;
  grid-template-rows: 3fr 3fr 3fr;
  gap: inherit;
  text-align: center;
}
article {
  padding: 10px;
  border: 10px solid rebeccapurple;
  border-radius: 10px;
  text-align: center;
  display: grid;
  background-color: rgb(157, 20, 203);
  color: #fff;
}

article:hover {
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  display: grid;
  background-color: rgb(196, 88, 232);
  color: #fff;
  cursor: pointer;
}

.container > div {
  border-radius: 5px;
  padding: 10px;
  background-color: rgb(207 232 220);
  border: 2px solid rgb(79 185 227);
}