body {
  background: linear-gradient(0.25turn, #d62828, #f77f00);
  padding: 0;
  margin: 0;
}

:root {
  --text-primary: #fff;
  --background-primary: #1b1b1b;
}

h1 {
  color: black;
  text-align: center;
  text-decoration: overline;
  cursor: default;
}
h2 {
  cursor: default;
}
.container {
  display: block;
  font-family: sans-serif;
  text-align: center;
}

main {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  gap: 50px;
  justify-content: center;
  text-align: center;
}
.grille {
  padding: 10px;
  background-color: rgb(70, 130, 180);
  border: 5px solid rgb(230, 245, 255);
  border-radius: 10px;
  text-align: center;
  display: grid;
  color: #fff;
  height: auto;
  width: 120px;
  height: 120px;
  transform: scale(1);
  transition: transform 2s cubic-bezier(0.39, 0.9, 0.72, 0.07);
}

.grille:hover {
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  display: grid;
  background-color: rgb(100, 160, 210);
  border: 5px solid rgb(25, 25, 112);
  color: #fff;
  cursor: pointer;
  transform: scale(1.3);
  transition: transform 0.5s cubic-bezier(0.39, 0.9, 0.72, 0.07);
}

#choix {
  margin-top: 100px;
}
