body {
  background: linear-gradient(0.25turn, #b1ff99, #94bcff);
  padding: 0;
  margin: 0;
}

:root {
  --text-primary: #fff;
  --background-primary: #1b1b1b;
}

h1 {
  color: black;
  text-align: center;
  text-decoration: overline;
}

.container {
  display: block;
  font-family: sans-serif;
  text-align: center;
}

main {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  gap: 50px;
  justify-content: center;
  text-align: center;
}
.grille {
  padding: 10px;
  border: 10px solid rebeccapurple;
  border-radius: 10px;
  text-align: center;
  display: grid;
  background-color: rgb(157, 20, 203);
  color: #fff;
  height: auto;
  width: 150px;
}

.grille:hover {
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  display: grid;
  background-color: rgb(196, 88, 232);
  color: #fff;
  cursor: pointer;
}

#choix{
    margin-top: 100px;
}